.text {
  position: relative;
  letter-spacing: 0.14em;
  line-height: 130%;
  text-transform: uppercase;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xl) var(--padding-35xl);
}

.style1 {
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--white-prime);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--white-prime);
  font-family: var(--font-plus-jakarta-sans);
}

@media screen and (max-width: 420px) {
  .style1{
    flex: 1;
    font-size: .65rem;
    padding: var(--padding-xs) var(--padding-xl);
  }
}