@keyframes slide-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.imagegradient {
  width: 100%;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--grey-25);
  backdrop-filter: blur(25px);
  border: 2px solid rgba(68, 70, 77, .5);
  box-sizing: border-box;
  height: 51.13rem;
  opacity: 0.9;
  mix-blend-mode: multiply;
  object-fit: cover;
}
.gradient {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: var(--padding-5xs);
  z-index: 0;
}
.p6 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 100%;
}
.subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.subTitleEmphasis {
  font-weight: 600;
  font-family: var(--font-lora);
}
.h4 {
  width: 100%;
  position: relative;
  font-size: var(--font-size-29xl);
  line-height: 110%;
  display: inline-block;
  height: 5.56rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.cardtitle {
  align-self: stretch;
  height: 13.38rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-46xl) var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  z-index: 2;
}
.descriptionText {
  width: 100%;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 150%;
  display: inline-block;
  height: 7.88rem;
  flex-shrink: 0;
}
.description {
  width: 100%;
  height: 17.94rem;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-123xl) var(--padding-3xl);
  box-sizing: border-box;
  z-index: 3;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.ctaText {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.14em;
  line-height: 130%;
  text-transform: uppercase;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--grey-prime);
  text-align: center;
}
.buttonprimary {
  cursor: pointer;
  border: 1px solid var(--grey-prime);
  padding: 0;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  height: 3.56rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button,
.buttonHover,
.cardcontent {
  flex-direction: column;
  align-items: center;
}
.buttonHover {
  width: 100%;
  display: none;
  justify-content: flex-end;
  color: var(--white-prime);
}
.button,
.cardcontent {
  gap: var(--gap-3xs);
}
.button {
  width: -webkit-fill-available;
  height: 6rem;
  display: none;
  justify-content: flex-start;
  z-index: 4;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--green-prime);
  padding: 0 1.5rem;
}
.cardcontent {
  width: 100%;
  max-width: 34.44rem;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.cardcontent:hover .gradient {
  background-color: #5D6265;
}
.cardcontent:hover .description{
  display: flex;
  animation: 1s ease 0s 1 normal backwards slide-in-bottom;
  opacity: 1;
}
.cardcontent:hover .button,
.card {
  display: flex;
}
.card {
  width: 33%;
  max-width: 34.44rem;
  height: 52.13rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.cards,
.sectioncards {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.cards {
  overflow-y: hidden;
  overflow-x: auto;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-lg);
}
.sectioncards {padding-bottom: var(--padding-221xl);
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white-prime);
  font-family: var(--font-plus-jakarta-sans);
}
@media screen and (max-width: 1279px) {
  .cards {
    flex-direction: row;
    gap: var(--gap-lg);
    align-items: center;
    justify-content: flex-start;
  }
  .sectioncards {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .button:hover {
    display: none;
  }
  .cards {
    flex-direction: row;
    gap: var(--gap-lg);
    align-items: center;
    justify-content: flex-start;
  }
  .sectioncards {
    padding-bottom: var(--padding-127xl);
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 575.98px) {
  .sectioncards{
    padding-bottom: var(--padding-77xl);
  }
  .cards {
    flex-direction: row;
    gap: var(--gap-lg);
    align-items: center;
    justify-content: flex-start;
  }
  .card{
    min-width: 100%;
  }
}
