@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.left,
.menu1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu1 {
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.left {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 0 var(--padding-base);
}
.serFotoMockupQuestionario {
  position: absolute;
  top: 6.38rem;
  left: 0;
  border-radius: var(--br-base);
  width: 19.5rem;
  height: 24.19rem;
  object-fit: cover;
  mix-blend-mode: darken;
}
.redefining {
  margin: 0;
}
.ourRelationship,
.redefining {
  letter-spacing: -0.02em;
  font-weight: 200;
}
.withHealth {
  font-weight: 600;
  font-family: var(--font-lora);
}
.ourRelationshipWithHealth {
  margin: 0;
}
.redefiningOurRelationshipContainer {
  position: absolute;
  width: 79.44%;
  top: 0;
  left: 20.56%;
  line-height: 110%;
  white-space: pre-wrap;
  display: inline-block;
  mix-blend-mode: multiply;
}
.content1 {
  width: 40.13rem;
  position: relative;
  height: 30.56rem;
}
.center {
  width: 68.06rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-45xl);
}
.iconSocialMediaSpotify,
.linksocial {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.iconSocialMediaSpotify {
  height: 100%;
  top: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.linksocial {
  text-decoration: none;
  height: 18.9%;
  top: 21.65%;
  bottom: 59.45%;
}
.linksocial1,
.linksocial2,
.linksocial3 {
  text-decoration: none;
  position: absolute;
  height: 17.32%;
  width: 91.67%;
  top: -5.12%;
  right: 4.17%;
  bottom: 87.8%;
  left: 4.17%;
}
.linksocial2,
.linksocial3 {
  top: -31.89%;
  bottom: 114.57%;
}
.linksocial3 {
  height: 18.11%;
  width: 95.83%;
  top: -59.45%;
  right: 2.08%;
  bottom: 141.34%;
  left: 2.08%;
}
.socialitens {
  width: 3rem;
  position: relative;
  height: 15.88rem;
}
.menu,
.right {
  display: flex;
  justify-content: flex-end;
}
.right {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 0 var(--padding-65xl);
}
.menu {
  flex-direction: row;
  align-items: flex-end;
}
.privacyPolicy {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 130%;
  font-weight: 300;
}
.content {
  align-items: flex-end;
  gap: var(--gap-253xl);
}
.content,
.drawer,
.navmenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.navmenu {
  align-self: stretch;
  height: 58.13rem;
  align-items: flex-end;
  padding: 0 var(--padding-71xl) var(--padding-27xl) 0;
  box-sizing: border-box;
}
.drawer {
  width: 120rem;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
  background-image: url(/drawer@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0;
  height: 100%;
  max-width: 90%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--grey-prime);
  font-family: var(--font-plus-jakarta-sans);
}
.drawer.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
