@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.closeIcon,
.menuburgerIcon {
  width: 2rem;
  position: relative;
}
.menuburgerIcon {
  height: 1.75rem;
  object-fit: cover;
  display: none;
}
.closeIcon {
  height: 2rem;
}
.lefet {
  flex: 1;
  height: 1.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.logoIcon {
  width: 14rem;
  position: relative;
  height: 1.83rem;
  object-fit: cover;
}
.logomobileIcon,
.logotabletIcon {
  width: 11.31rem;
  position: relative;
  height: 1.5rem;
  display: none;
}
.logomobileIcon {
  width: 8.06rem;
  height: 1.06rem;
}
.center {
  flex: 1;
  height: 1.83rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.vectorIcon {
  width: 2rem;
  position: relative;
  height: 2rem;
  display: none;
}
.login {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 130%;
}
.iconlogin {
  width: 2.5rem;
  position: relative;
  height: 2.5rem;
  object-fit: cover;
}
.buttonlogin {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.buttonlogin,
.header,
.right {
  flex-direction: row;
  align-items: center;
}
.right {
  flex: 1;
  height: 2.5rem;
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-3xs);
}
.header {
  width: 120rem;
  height: 9.38rem;
  display: none;
  justify-content: space-between;
  padding: var(--padding-33xl) var(--padding-77xl) var(--padding-39xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--grey-prime);
  font-family: var(--font-plus-jakarta-sans);
}
.left,
.menu1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu1 {
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.left {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 0 var(--padding-base);
}
.serFotoMockupQuestionario {
  position: absolute;
  top: 6.38rem;
  left: 0;
  border-radius: var(--br-base);
  width: 19.5rem;
  height: 24.19rem;
  object-fit: cover;
  mix-blend-mode: darken;
}
.redefining {
  margin: 0;
}
.ourRelationship,
.redefining {
  letter-spacing: -0.02em;
  font-weight: 200;
}
.withHealth {
  font-weight: 600;
  font-family: var(--font-lora);
}
.ourRelationshipWithHealth {
  margin: 0;
}
.redefiningOurRelationshipContainer {
  position: absolute;
  top: 0;
  left: -8.25rem;
  line-height: 110%;
  white-space: pre-wrap;
  display: inline-block;
  width: 31.88rem;
  mix-blend-mode: multiply;
}
.h2 {
  position: absolute;
  top: 0;
  left: 8.25rem;
  height: 11.75rem;
}
.content1 {
  width: 40.13rem;
  position: relative;
  height: 30.56rem;
}
.center1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-45xl);
}
.iconSocialMediaInstagram {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.linksocial,
.linksocial1,
.linksocial3 {
  text-decoration: none;
  width: 2.88rem;
  position: relative;
  height: 2.88rem;
  overflow: hidden;
  flex-shrink: 0;
}
.linksocial1,
.linksocial3 {
  width: 2.75rem;
  height: 2.75rem;
}
.linksocial3 {
  width: 3rem;
  height: 3rem;
}
.right1,
.socialitens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.socialitens {
  overflow: hidden;
  gap: var(--gap-5xl);
}
.right1 {
  align-self: stretch;
  padding: 0 0 var(--padding-65xl);
}
.footersocial,
.menu,
.socialitens1 {
  flex-direction: row;
  align-items: flex-end;
}
.menu {
  width: 85.13rem;
  display: flex;
  justify-content: flex-end;
  padding: 0 0 var(--padding-253xl);
  box-sizing: border-box;
}
.footersocial,
.socialitens1 {
  justify-content: center;
}
.socialitens1 {
  overflow: hidden;
  display: flex;
  gap: var(--gap-5xl);
}
.footersocial {
  width: 85.13rem;
  display: none;
}
.privacyPolicy,
.textSerenaCare {
  position: relative;
  line-height: 130%;
}
.privacyPolicy {
  text-decoration: none;
  font-size: var(--font-size-base);
  font-weight: 300;
  color: inherit;
}
.textSerenaCare {
  width: 17.88rem;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
  display: none;
}
.content {
  align-items: flex-end;
}
.content,
.drawer,
.navmenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.navmenu {
  align-self: stretch;
  flex: 1;
  align-items: flex-end;
  padding: 0 var(--padding-71xl) var(--padding-27xl) 0;
}
.drawer {
  width: 120rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-131xl) 0 0;
  box-sizing: border-box;
  background-image: url(/drawer@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0;
  max-width: 90%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--grey-prime);
  font-family: var(--font-plus-jakarta-sans);
}
.drawer.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
@media screen and (max-width: 1200px) {
  .content1 {
    width: 40.13rem;
  }
  .center1 {
    width: auto;
    align-self: unset;
    max-width: 50%;
  }
  .content {
    gap: var(--gap-0);
  }
}
@media screen and (max-width: 960px) {
  .logoIcon {
    display: none;
  }
  .logotabletIcon {
    display: flex;
  }
  .header {
    padding: var(--padding-11xl) var(--padding-7xl);
    box-sizing: border-box;
  }
  .serFotoMockupQuestionario {
    width: 18rem;
    height: 22.25rem;
  }
  .redefiningOurRelationshipContainer {
    font-size: var(--font-size-29xl);
    width: 22.56rem;
  }
  .content1 {
    width: 22.56rem;
  }
  .center1 {
    max-width: 30%;
  }
  .socialitens {
    width: 2.19rem;
  }
  .menu,
  .right1 {
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .socialitens1 {
    width: 2.19rem;
  }
  .footersocial {
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .privacyPolicy {
    display: none;
  }
  .textSerenaCare {
    display: flex;
    align-self: stretch;
    width: auto;
  }
  .content {
    align-items: center;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 420px) {
  .login,
  .logoIcon {
    display: none;
  }
  .header {
    padding: var(--padding-5xl) var(--padding-base);
    box-sizing: border-box;
  }
  .serFotoMockupQuestionario {
    width: 9rem;
    height: 11.13rem;
  }
  .h2 {
    display: none;
  }
  .content1 {
    width: 9rem;
    flex: 1;
  }
  .center1 {
    display: flex;
    width: auto;
    align-self: stretch;
    height: auto;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 9rem;
  }
  .right1 {
    display: none;
  }
  .footersocial {
    display: flex;
  }
}
