@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.left,
.menu1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: -webkit-fill-available;

}
.menu1 {
  justify-content: space-between;
  /* gap: var(--gap-21xl); */
}
.left {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 0 var(--padding-base);
  height: -webkit-fill-available;
  min-height: 100%;
}
.serFotoMockupQuestionario {
  position: absolute;
  top: 6.38rem;
  left: 0;
  border-radius: var(--br-base);
  width: 19.5rem;
  height: 24.19rem;
  object-fit: cover;
  mix-blend-mode: darken;
  display: none;
}
.redefining {
  margin: 0;
}
.ourRelationship,
.redefining {
  letter-spacing: -0.02em;
  font-weight: 200;
}
.withHealth {
  font-weight: 600;
  font-family: var(--font-lora);
}
.ourRelationshipWithHealth {
  margin: 0;
}
.redefiningOurRelationshipContainer {
  width: 31.88rem;
  position: relative;
  line-height: 110%;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  mix-blend-mode: multiply;
}
.h2 {
  position: absolute;
  top: 0;
  left: 8.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content1 {
  width: 40.13rem;
  position: relative;
  height: 30.56rem;
}
.center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-45xl);
}
.iconSocialMediaInstagram {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.linksocial,
.linksocial1,
.linksocial3 {
  text-decoration: none;
  width: 2.88rem;
  position: relative;
  height: 2.88rem;
  overflow: hidden;
  flex-shrink: 0;
}
.linksocial1,
.linksocial3 {
  width: 2.75rem;
  height: 2.75rem;
}
.linksocial3 {
  width: 3rem;
  height: 3rem;
}
.socialitens {
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl);
}
.menu,
.right,
.socialitens {
  display: flex;
  justify-content: flex-end;
}
.right {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 0 var(--padding-65xl);
}
.menu {
  flex-direction: row;
  align-items: flex-end;
  flex: 1;
}
.privacyPolicy {
  text-decoration: none;
  width: 6.5rem;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 130%;
  font-weight: 300;
  color: inherit;
  display: inline-block;
  height: 0.75rem;
  flex-shrink: 0;
  padding-bottom: 3rem;
}
.linksocial4,
.linksocial5,
.linksocial7 {
  text-decoration: none;
  width: 2.88rem;
  position: relative;
  height: 2.88rem;
  overflow: hidden;
  flex-shrink: 0;
}
.linksocial5,
.linksocial7 {
  width: 2.75rem;
  height: 2.75rem;
}
.linksocial7 {
  width: 3rem;
  height: 3rem;
}
.socialitens1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-5xl);
}
.footersocial,
.textSerenaCare {
  width: 114.38rem;
  display: none;
  justify-content: center;
}
.footersocial {
  flex-direction: row;
  align-items: flex-end;
}
.textSerenaCare {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 130%;
  color: var(--color-gray-200);
  text-align: center;
  align-items: center;
  height: 1rem;
  flex-shrink: 0;
}
.content {
  align-self: stretch;
  align-items: flex-end;
  justify-content: space-between;
  /* gap: var(--gap-217xl); */
}
.content,
.drawer,
.navmenu {
  display: flex;
  flex-direction: column;
}
.navmenu {
  align-self: stretch;
  flex: 1;
  align-items: flex-end;
  justify-content: start;
  padding: 13.51rem var(--padding-71xl) 0 0;
}
.drawer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-end;
  background-image: url(/drawer@3x.png);
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--grey-prime);
  font-family: var(--font-plus-jakarta-sans);
}
.drawer.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
.footerMobile{
  padding-bottom: var(--padding-base);
}
@media screen and (min-width: 1579px) { 
  .menu {
    width: 85.13rem;
  }
}
@media screen and (max-width: 1279px) {
  .content1 {
    width: 40.13rem;
  }
  .center {
    width: auto;
    align-self: unset;
    max-width: 50%;
  }
  .content {
    gap: var(--gap-0);
  }
  .navmenu {
    padding-top: 9.38rem;
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .menu1 {
    /* gap: var(--gap-21xl); */
  }
  .serFotoMockupQuestionario {
    width: 18rem;
    height: 22.25rem;
  }
  .redefiningOurRelationshipContainer {
    font-size: var(--font-size-29xl);
    width: 22.56rem;
  }
  .content1 {
    width: 22.56rem;
  }
  .center {
    max-width: 30%;
  }
  .linksocial {
    width: 2.06rem;
    height: 2.13rem;
  }
  .linksocial1,
  .linksocial3 {
    width: 2.06rem;
    height: 2rem;
  }
  .socialitens {
    width: 2.19rem;
  }
  .menu,
  .right {
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .menu {
    align-items: flex-end;
    justify-content: center;
  }
  .privacyPolicy {
    display: none;
  }
  .socialitens1 {
    width: 2.19rem;
  }
  .footersocial {
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .textSerenaCare {
    display: flex;
    align-self: stretch;
    width: auto;
  }
  .content,
  .navmenu {
    padding-top: 17,44rem;
    box-sizing: border-box;
  }
  .content {
    height: -webkit-fill-available;
    gap: 6.5rem;
    align-items: center;
    justify-content: space-between;
  }
  .navmenu {
    padding-right: 0;
  }
}
@media screen and (max-width: 575.98px) {
  .left {
    width: 11.25rem;
  }
  .serFotoMockupQuestionario {
    width: 9rem;
    height: 11.13rem;
  }
  .h2 {
    display: none;
  }
  .content1 {
    width: 9rem;
    flex: 1;
  }
  .center {
    display: flex;
    width: auto;
    align-self: stretch;
    height: auto;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 9rem;
  }
  .right {
    display: none;
  }
  .menu {
    gap: var(--gap-21xl);
  }
  .menu1{
    margin-bottom: 90px;
    margin-top: 80px;
  }
  .socialitens1 {
    flex: 1;
  }
  .footersocial {
    display: flex;
    /* padding-top: var(--padding-77xl); */
    padding-bottom: var(--padding-29xl);
    box-sizing: border-box;
  }
  .content {
    gap: var(--gap-0);
  }
}
