.closeIcon,
.menuburgerIcon {
  width: 2rem;
  position: relative;
}
.menuburgerIcon {
  height: 1.75rem;
  object-fit: cover;
  cursor: pointer;
}
.closeIcon {
  height: 2rem;
  display: none;
}
.lefet {
  flex: 1;
  height: 1.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.logoIcon {
  width: 14rem;
  position: relative;
  height: 1.83rem;
  object-fit: cover;
}
.logomobileIcon,
.logotabletIcon {
  width: 11.31rem;
  position: relative;
  height: 1.5rem;
  display: none;
}
.logomobileIcon {
  width: 8.06rem;
  height: 1.06rem;
}
.center {
  flex: 1;
  height: 1.83rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.login {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 130%;
}
.iconlogin {
  width: 2.5rem;
  position: relative;
  height: 2.5rem;
  object-fit: cover;
}
.buttonlogin {
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.buttonlogin,
.header,
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right {
  flex: 1;
  height: 2.5rem;
  justify-content: flex-end;
  gap: var(--gap-3xs);
}
.header {
  align-self: stretch;
  height: 9.38rem;
  justify-content: space-between;
  padding: var(--padding-33xl) var(--padding-77xl) var(--padding-39xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--grey-prime);
  font-family: var(--font-plus-jakarta-sans);
}
@media screen and (max-width: 960px) {
  .logoIcon {
    display: none;
  }
  .logotabletIcon {
    display: flex;
  }
  .header {
    padding: var(--padding-11xl) var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .login {
    display: none;
  }
  .header {
    padding: var(--padding-5xl) var(--padding-base);
    box-sizing: border-box;
  }
}
