.closeIcon,
.menuburgerIcon {
  width: 2rem;
  position: relative;
}
.menuburgerIcon {
  height: 1.75rem;
  object-fit: cover;
  cursor: pointer;
}
.closeIcon {
  height: 2rem;
  cursor: pointer;
}
.lefet {
  flex: 1;
  height: 1.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.logoIcon {
  width: 14rem;
  position: relative;
  height: 1.83rem;
  object-fit: cover;
}
.logomobileIcon,
.logotabletIcon {
  width: 11.31rem;
  position: relative;
  height: 1.5rem;
  display: none;
}
.logomobileIcon {
  width: 8.06rem;
  height: 1.06rem;
}
.center {
  flex: 1;
  height: 1.83rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.login {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 130%;
}
.iconlogin {
  width: 2.5rem;
  position: relative;
  height: 2.5rem;
  background-color: #44464D;
  mask: url(/iconlogin1@2x.svg) no-repeat center / contain;
  -webkit-mask: url(/iconlogin1@2x.svg) no-repeat center / contain;
}
.buttonlogin {
  justify-content: flex-start;
  gap: var(--gap-mini);
  cursor: pointer;
}
.buttonlogin:hover{
  color: #00C5C0;
}
.buttonlogin:hover > .iconlogin{

  background-color: #00C5C0; /* defines the background color of the image */
  color: #00C5C0;
}
.buttonlogin,
.header,
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right {
  flex: 1;
  height: 2.5rem;
  justify-content: flex-end;
  gap: var(--gap-3xs);
}
.header {
  /* position: static; */
  top: 0;
  z-index: 300;
  align-self: stretch;
  height: 9.38rem;
  justify-content: space-between;
  padding: var(--padding-33xl) var(--padding-77xl) var(--padding-39xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--grey-prime);
  font-family: var(--font-plus-jakarta-sans);
}

@media screen and (max-width: 1920px) {
  .header{
    padding: var(--padding-6xl) 0 var(--padding-39xl) 0;
    height: initial;
    margin: 0 auto;
    max-width: calc(100vw - 10%);
  }
  .menuburgerIcon{
    object-fit: contain;
    height: 1.3rem;
  }
  .closeIcon{
    height: 1.3rem;
  }
  .login{
    font-size: 10px;
    font-weight: 400;
  }
  .iconlogin{
    width: 1.6rem;
  }
  .logotabletIcon{
    display: flex;
    width: 9.31rem;
  }
  .logoIcon {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .header {
    padding: var(--padding-11xl) var(--padding-7xl);
    box-sizing: border-box;
    height: 5.6rem;
  }
}
@media screen and (max-width: 575.98px) {
  .login {
    display: none;
  }
  .header {
    height: 94px !important;
    padding: var(--padding-5xl) var(--padding-base);
    box-sizing: border-box;
    /* background-color: green !important; */
  }
}
