.discover {
  font-weight: 200;
}
.i,
.understand {
  font-weight: 600;
  font-family: var(--font-lora);
}
.i {
  font-weight: 500;
}
.act,
.discoverUnderstand {
  margin: 0;
}
.act {
  font-weight: 200;
}
.h1,
.p3 {
  width: 100%;
  position: relative;
  display: inline-block;
}
.h1 {
  letter-spacing: -0.02em;
  line-height: 100%;
  mix-blend-mode: multiply;
  max-width: 36.75rem;
}
.p3 {
  font-size: var(--font-size-9xl);
  line-height: 130%;
  max-width: 35rem;
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-68xl);
}
.rightIcon {
  border-radius: var(--br-5xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 53.25rem;
  object-fit: cover;
}
.content,
.hero {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-127xl);
  flex-direction: row;
}
.hero {
  flex-direction: column;
  padding: var(--padding-35xl) var(--padding-77xl);
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--grey-prime);
  font-family: var(--font-plus-jakarta-sans);
}
@media screen and (max-width: 1440px) {
  .h1 {
    font-size: var(--font-size-53xl);
  }
  .p3 {
    font-size: var(--font-size-7xl);
  }
  .left {
    width: auto;
    align-self: unset;
    align-items: flex-start;
    justify-content: center;
    padding-right: var(--padding-33xl);
    box-sizing: border-box;
  }
  .rightIcon {
    width: 100%;
    height: 100%;
    min-width: 28.13rem;
    min-height: 28.13rem;
  }
  .content {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .hero {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .hero{
    padding-top: 24px;
  }
  .content{
    gap: var(--gap-base);
    justify-content: space-between;
  }
  .h1,
  .p3 {
    font-size: var(--font-size-29xl);
    max-width: 17.81rem;
  }
  .p3 {
    font-size: var(--font-size-base);
  }
  .left {
    gap: var(--gap-17xl);
    max-width: 281px;
    padding: 0;
  }
  .rightIcon {
    width: auto;
    align-self: unset;
    max-height: 28.13rem;
    min-width: auto;
  }
}
@media screen and (max-width: 575.98px) {
  .left {
    gap: var(--gap-5xl);
    padding-right: 0;
  }
  .rightIcon {
    width: 343px;
    height: 343px;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-base);
    min-width: 100%;
    min-height: 100%;
  }
  .content,
  .hero {
    gap: var(--gap-5xl);
  }
  .content {
    flex-direction: column-reverse;
  }
  .hero {
    padding-top: 5px;
    padding-bottom: var(--padding-2xl);
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
