.h2>i {
  font-weight: 600;
}
.h2>span>span {
  font-weight: 300;
  font-family: var(--font-plus-jakarta-sans);
}
.h2>span>i {
  font-weight: 600;
  font-family: var(--font-lora);
}
.h2 {
  align-self: stretch;
  width: 53.44rem;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 130%;
  display: inline-block;
  flex-shrink: 0;
  mix-blend-mode: multiply;
  min-height: 34.44rem;
}
.h2>span{
  font-size: var(--font-size-53xl);
  font-family: var(--font-plus-jakarta-sans);
}
.box,
.p4 {
  display: flex;
}
.p4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 140%;
  font-weight: 300;
  font-family: var(--font-plus-jakarta-sans);
  align-items: flex-end;
  mix-blend-mode: multiply;
  max-width: 34.69rem;
}
.box {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-245xl) var(--padding-5xl);
  text-align: left;
  font-size: var(--font-size-59xl);
  color: var(--grey-prime);
  font-family: var(--font-lora);
}
@media screen and (max-width: 1200px) {
  .h2 {
    font-size: 30px;
    width: 21.44rem;
  }
  .h2>span{
    font-size: 30px;
  }
  .h2>i {
    font-size: var(--font-size-13xl);
  }
  .p4 {
    width: 100%;
    align-self: stretch;
    height: auto;
  }
  .box {
    flex-direction: row;
    gap: var(--gap-0);
    align-items: flex-end;
    justify-content: flex-end;
  }
  .container {
    padding: var(--padding-89xl) var(--padding-17xl) var(--padding-178xl)
      var(--padding-108xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .box {
    height: auto;
    flex-direction: row;
    gap: var(--gap-0);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container {
    padding-left: var(--padding-108xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 430px) {
  .h2 {
    font-size: var(--font-size-13xl);
    width: 21.44rem;
    min-height: 0;
  }
  .p4 {
    text-align: left;
    max-width: 15.81rem;
    flex: unset;
    align-self: stretch;
    font-size: var(--font-size-base);
    margin-left: auto;
  }
  .box {
    flex-direction: column;
    gap: var(--gap-45xl);
    align-items: flex-end;
    justify-content: center;
  }
  .container {
    padding: var(--padding-80xl) var(--padding-base) var(--padding-110xl);
    box-sizing: border-box;
  }
}
