.title1 {
  line-height: 110%;
  display: inline-block;
  font-weight: 500;
  width: 100%;
  mix-blend-mode: hard-light;
}
.redefining {
  margin: 0;
}
.title2 {
  font-size: var(--font-size-135xl-9);
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 200;
  font-family: var(--font-plus-jakarta-sans);
  white-space: pre-wrap;
  display: inline-block;
  width: 100%;
  mix-blend-mode: hard-light;
}
.title {
  width: 100%;
  height: 28.63rem;
  position: relative;
  mix-blend-mode: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
  width: 100%;
}
.content,
.hero {
  align-self: stretch;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.content {
  border-radius: var(--br-5xl);
  padding: var(--padding-107xl) 0 0;
  gap: var(--gap-84xl);
  background-image: url(/content1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.hero {
  padding: 0 var(--padding-77xl);
  text-align: center;
  font-size: var(--font-size-145xl);
  color: var(--color-whitesmoke-100);
  font-family: var(--font-lora);
  position: relative;
  z-index: 100;
}
.newHero{
  color: var(--color-darkslategray-full);
  font-family: var(--font-lora);
  position: relative;
  z-index: 100;
  height: initial;
}
.newHero > .content{
  background-image: initial;
  height: calc(100vh - 150px);
}
.newHero > .content > .buttons{
  opacity: 0;
}
@media screen and (max-width: 1279px) {
  .title1,
  .title2 {
    font-size: var(--font-size-67xl);
    width: 100%;
  }
  .title2 {
    font-size: var(--font-size-62xl);
  }
  .buttons {
    display: flex;
  }
}
@media screen and (max-width: 960px) {
  .buttons {
    display: none;
  }
  .content,
  .hero {
    box-sizing: border-box;
  }
  .content {
    gap: var(--gap-0);
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .hero {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
  }
}
@media screen and (max-width: 575.98px) {
  .title{
    flex: 1;
  }
  .buttons{
    display: flex;
    padding-bottom: 18px;
    gap: var(--gap-xs);
    padding: 0 var(--padding-xs) var(--padding-xl) var(--padding-xs);
    width: -webkit-fill-available;
  }
  .title1 {
    font-size: var(--font-size-27xl);
  }
  .title2 {
    font-size: var(--font-size-24xl);
  }
  .content {
    border-radius: var(--br-base);
  }
}
