.about {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 130%;
  font-weight: 300;
  color: inherit;
}
@media screen and (max-width: 420px) {
  .about {
    font-size: var(--font-size-21xl);
  }
}
