.menu {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 130%;
  font-weight: 300;
  color: inherit;
  margin: auto 0;
}

.selected {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-39xl);
  line-height: 130%;
  font-style: italic;
  font-weight: 700;
  font-family: var(--font-lora);
  color: inherit;
}
@media screen and (max-width: 1920px) {
  .menu {
    font-size: var(--font-size-13xl);
  }

  .selected{
    font-size: var(--font-size-29xl);
  }
}

@media screen and (max-width: 575.98px) {
  .menu {
    font-size: var(--font-size-13xl);
    margin: auto 0;
  }
  .selected {
    font-size: var(--font-size-21xl);
  }
}
