.weWantTo {
  font-weight: 200;
  font-family: var(--font-plus-jakarta-sans);
}
.hearFromYou {
  font-weight: 600;
}
.i {
  font-weight: 500;
}
.h1,
.p3 {
  width: 100%;
  position: relative;
  display: inline-block;
}
.h1 {
  letter-spacing: -0.02em;
  line-height: 100%;
  mix-blend-mode: multiply;
  max-width: 30.13rem;
}
.p3 {
  font-size: var(--font-size-9xl);
  line-height: 150%;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--black-text);
  max-width: 32.25rem;
}
.input,
.left,
.line,
.line1 {
  display: flex;
  justify-content: flex-start;
}
.left {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-77xl);
}
.input,
.line,
.line1 {
  flex-direction: row;
}
.input {
  border: 0;
  outline: 0;
  font-family: var(--font-plus-jakarta-sans);
  font-size: var(--font-size-xl);
  background-color: var(--grey-25);
  flex: 1;
  border-radius: var(--br-xs);
  align-items: center;
  padding: var(--padding-5xl) var(--padding-6xl) var(--padding-5xl)
    var(--padding-lg);
  color: var(--low-contrast-gre);
}
.line,
.line1 {
  align-self: stretch;
  align-items: flex-start;
}
.line {
  gap: var(--gap-base);
}
.line1 {
  border: 0;
  outline: 0;
  font-family: var(--font-plus-jakarta-sans);
  font-size: var(--font-size-xl);
  background-color: var(--grey-25);
  border-radius: var(--br-xs);
  height: 3.94rem;
  padding: var(--padding-5xl) var(--padding-lg);
  box-sizing: border-box;
  color: var(--low-contrast-gre);
}
.companyName {
  width: 17.91rem;
  position: relative;
  line-height: 120%;
  display: inline-block;
  flex-shrink: 0;
}
.input2,
.line3,
.line4 {
  height: 3.94rem;
  flex-direction: row;
  justify-content: flex-start;
}
.input2 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--grey-25);
  display: flex;
  align-items: center;
  padding: var(--padding-5xl) var(--padding-6xl) var(--padding-5xl)
    var(--padding-lg);
  box-sizing: border-box;
}
.line3,
.line4 {
  align-items: flex-start;
}
.line3 {
  width: 42.66rem;
  display: none;
}

.select {
  width: 100%;
  margin: 8px 0;
  border: none;
  border-radius: var(--br-xs);
  box-sizing: border-box;

  padding: 0 var(--padding-lg);
  background-color: var(--grey-25);
}

.line4 {
  align-self: stretch;
  border-radius: var(--br-xs);
  border: 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
  color: var(--low-contrast-gre);
  padding: var(--padding-base) var(--padding-6xl);
  display: inline-block;
  border: none;
  outline: none;
  appearance: none;
  background: url(/select-angle-down.png) no-repeat center left ;
  font-size: 15px;
  padding-right: 20px;
  width: 100%;
  font-family: var(--font-plus-jakarta-sans);
  font-size: var(--font-size-xl);
}

.line4,
.line5,
.send {
  font-family: var(--font-plus-jakarta-sans);
}
.line5 {
  border: 0;
  background-color: var(--grey-25);
  font-size: var(--font-size-xl);
  outline: 0;
  align-self: stretch;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-lg);
  color: var(--low-contrast-gre);
}
.send {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.14em;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-white);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 2px solid var(--color-gray-100);
  padding: var(--padding-3xl) var(--padding-83xl);
  background-color: var(--grey-prime);
  border-radius: var(--br-xs);
  box-sizing: border-box;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.form,
.right {
  flex-direction: column;
}
.form {
  width: 100%;
  height: 41.69rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 44.13rem;
}
.right {
  flex: 1;
  align-items: flex-end;
  font-size: var(--font-size-xl);
  color: var(--low-contrast-gre);
  font-family: var(--font-plus-jakarta-sans);
}
.content,
.right,
.section {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.content {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-56xl);
}
.section {
  flex-direction: column;
  align-items: center;
  padding: var(--padding-45xl) var(--padding-221xl) var(--padding-201xl);
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--grey-prime);
  font-family: var(--font-lora);
}
@media screen and (max-width: 1200px) {
  .h1 {
    font-size: var(--font-size-77xl);
  }
  .p3 {
    font-size: var(--font-size-9xl);
  }
  .left {
    flex: 1;
  }
  .line {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section {
    padding-left: var(--padding-77xl);
    padding-right: var(--padding-77xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .h1 {
    min-width: 100%;
  }
  .p3 {
    max-width: 100%;
  }
  .left {
    gap: var(--gap-22xl);
  }
  .left,
  .right {
    flex: unset;
    align-self: stretch;
  }
  .content {
    flex-direction: column;
  }
  .section {
    padding-left: var(--padding-117xl);
    padding-top: 0;
    padding-right: var(--padding-156xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 430px) {
  .h1 {
    font-size: var(--font-size-29xl);
  }
  .p3 {
    font-size: var(--font-size-base);
  }
  .button {
    align-self: stretch;
    width: auto;
  }
  .content {
    gap: var(--gap-36xl);
  }
  .section {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    padding-bottom: var(--padding-96xl);
    box-sizing: border-box;
    max-width: 100%;
  }
}
