.content * {
  box-sizing: border-box;
}
.pilars{
  /* transform-style: preserve-3d;
  scroll-snap-align: start; */
}
.initHidden{
  opacity: 0;
  transition: opacity 1s linear;
}
.showHidden{
  opacity: 1;
}
.showHidden:last-child{
  /* position: sticky;
  bottom: 0 */
}
.boxPilar{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition:all 1s linear;
}
.diet {
  height: 14.63rem;
  gap: var(--gap-3xs);
  font-size: var(--font-size-35xl-1);
  font-family: var(--font-lora);
}
.social {
  gap: var(--gap-lgi);
}
.controltoxic {
  gap: var(--gap-lg);
  font-size: var(--font-size-5xl-1);
}
.sleepquality {
  /* filter: blur(25.51px); */
  height: 11.69rem;
  gap: var(--gap-3xs);
  font-size: var(--font-size-3xl-5);
}
.stressmanagement {
  /* filter: blur(18.85px); */
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-4xl-6);
}
.physicalactivities {
  gap: var(--gap-6xl);
}
.position0{
  top: 37.35rem !important;
  left: 19.74rem !important;
  transition:all 1s linear;
  filter: none !important;
}
.position1{
  top: 30.13rem;
  left: 35.83rem;
  filter: blur(18.85px);
}
.position2{
  top: 10.86rem;
  left: 35.48rem;
  filter: blur(18.85px);
  transition:all 1s linear;
}
.position3{
  top: 0;
  left: 19.74rem;
  filter: blur(18.85px);
  transition:all 1s linear;
}
.position4{
  top: 9.01rem;
  left: 0.78rem;
  filter: blur(18.85px);
  transition:all 1s linear;
}
.position5{
  top: 28.64rem;
  left: 0;
  filter: blur(18.85px);
  transition:all 1s linear;
}
.understand {
  font-weight: 300;
}
.act,
.i {
  font-weight: 600;
  font-family: var(--font-lora);
}
.i {
  font-weight: 700;
}
.understandAct {
  margin: 0;
}
.prevent {
  margin: 0;
  font-weight: 300;
}
.p1 {
  width: 75.14%;
  position: absolute;
  margin: 0 !important;
  height: 31.3%;
  top: 24.94%;
  left: 16.78%;
  letter-spacing: -0.02em;
  line-height: 100%;
  mix-blend-mode: multiply;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.iconstressmanagement {
  width: 5.5rem;
  position: relative;
  height: 6.13rem;
  object-fit: cover;
}
.blur {
  width: 10.75rem;
  /* filter: blur(16.03px); */
  height: 8.19rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.manejoDoEstresse {
  width: 10.78rem;
  position: relative;
  line-height: 130%;
  font-weight: 500;
  display: inline-block;
  height: 4.23rem;
  flex-shrink: 0;
}
.iconsleepquality {
  width: 6.08rem;
  position: relative;
  height: 6.31rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.blur1,
.p4 {
  width: 9.5rem;
}
.blur1 {
  /* filter: blur(16.03px); */
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
}
.p4 {
  display: flex;
  position: relative;
  line-height: 120%;
  height: 4.06rem;
  flex-shrink: 0;
  font-family: Lora;
  font-size: var(--font-size-35xl-1);
  font-weight: 600;
  font-style: italic;
  text-align: center;
  justify-content: center;
}
.iconphysicalactivities {
  width: 9.32rem;
  position: relative;
  height: 7.68rem;
  object-fit: cover;
}
.blur2 {
  width: 13.13rem;
  height: 7.94rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-12xs);
  box-sizing: border-box;
  flex-shrink: 0;
}
.blurIcon {
  position: relative;
  flex-shrink: 0;
}
.blurIcon {
  width: 10.02rem;
  height: 6.49rem;
  overflow: hidden;
  object-fit: cover;
}
.blurIcon1 {
  width: 9.67rem;
  height: 11.66rem;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
.iconcontroltoxic {
  width: 4.76rem;
  position: relative;
  height: 4.9rem;
}
.blur3 {
  width: 9.31rem;
  height: 5.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pilares {
  height: 51.98rem;
  width: 46.41rem;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-9xl-3);
  color: var(--green-prime);
}
.carousel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  gap: var(--gap-3xs);
}
.fromNutritionAndContainer {
  width: 34.75rem;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  mix-blend-mode: multiply;
}
.box {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  /* padding: 0 0 var(--padding-93xl); */
  box-sizing: border-box;
  /* gap: var(--gap-xs); */
  font-size: var(--font-size-5xl);
}
.box,
.content,
.sectioncarousel {
  display: flex;
  align-items: center;
}
.content {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 88.25rem;
}
.sectioncarousel {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-95xl) 0 var(--padding-357xl);
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--grey-prime);
  font-family: var(--font-plus-jakarta-sans);
}
@media screen and (max-width: 1279px) {
  .box,
  .content {
    align-items: center;
  }
  .box {
    width: auto;
    align-self: unset;
    /* height: 52.28rem;
    justify-content: flex-end; */
    max-width: 22.5rem;
  }
  .content {
    /* flex-direction: column; */
    gap: 7.09rem;
    align-items: flex-start;

    justify-content: flex-start !important;
  }
  .p1{
    margin: 0 auto;
  }
} 
@media (max-height: 590px) {
  .p1{
    top: 1%;
  }
  .position0{
    top: 20.35rem !important;
  }
  .position1{
    top: 13.13rem;
  }
  .position2{
    top: -7.86rem;
  }
  .position3{
    top: -17rem;
  }
  .position4{
    top: -8.01rem;
  }
  .position5{
    top: 11.64rem;
  }
}

@media screen and (max-width: 960px) {
  .p1{
    top: 17.94%;
    left: 50%;
    max-width: 100vw;
    transform: translate(-50%, -50%);
    width: initial;
  }
  .carousel{
    /* top: -35vh; */
  }
  .content {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-81xl);
    align-items: center;
    justify-content: space-between;
  }
  .box{
    justify-content: flex-end;
    padding-bottom: 15vh;
    /* height: 28rem; */
  }
  .pilars{
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .fromNutritionAndContainer{
    width: 100%;
  }
  .position0{
    top: 20.35rem !important;
  }
  .position1{
    top: 13.13rem;
  }
  .position2{
    top: -7.86rem;
  }
  .position3{
    top: -17rem;
  }
  .position4{
    top: -8.01rem;
  }
  .position5{
    top: 11.64rem;
  }
  .sectioncarousel{
    padding-bottom: 0;
  }
}
@media screen and (max-width: 575.98px) {
  .p1 {
    top: 25%;
    font-size: var(--font-size-39xl);
    text-align: left;
    padding-left: 21px;
    padding-right: 18px;
    /*
    max-width: 21rem;
    left: 29% ; */
  }
  .blur {
    max-width: 6.94rem;
  }
  .manejoDoEstresse {
    font-size: var(--font-size-16xl);
  }
  .blur1 {
    max-width: 6.94rem;
  }
  .p4 {
    font-size: var(--font-size-16xl);
  }
  .blur2 {
    max-width: 6.94rem;
  }
  .blurIcon {
    max-width: 6.94rem;
  }
  .blurIcon1 {
    /* max-width: 6.94rem; */
    width: 100px;
    height: 122px;
  }
  
  .position0, .position3{
    left: 40%;
  }
  
  .position1, .position2{
    left: 70%;
  }
  
  .position4, .position5{
    left: 10%;
  }

  .blur3 {
    max-width: 6.94rem;
  }
  .pilares {
    max-width: 100%;
  }
  .fromNutritionAndContainer {
    font-size: var(--font-size-base);
    flex: 1;
    max-width: 21.44rem;
  }
  .box {
    height: 100vh;
    gap: var(--gap-5xl);
    /* padding-bottom: var(--padding-108xl); */
    box-sizing: border-box;
    max-width: 21.44rem;
    padding-bottom: 15vh;
  }
  .content {
    flex-direction: column;
    gap: var(--gap-29xl);
    align-items: center;
    justify-content: center;
  }
  .sectioncarousel {
    padding-top: 0;
    box-sizing: border-box;
    /* padding-bottom: 12rem; */
  }
  .pilars{
    margin-bottom: 0;
    padding-bottom: 20ren;
  }
  .fromNutritionAndContainer{
    display: flex;
    align-items: flex-end;
  }
}
@media screen and (max-height: 670px) {
  .box{
    padding-bottom: 3vh;
  }
}