.chapeu1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 700;
  mix-blend-mode: normal;
}
.icon {
  width: 7.63rem;
  height: 7.63rem;
  overflow: hidden;
  flex-shrink: 0;
}
.chapeu2,
.icon,
.p5 {
  position: relative;
}
.chapeu2 {
  width: 100%;
  line-height: 120%;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 252px;
}
.p5 {
  align-self: stretch;
  font-size: var(--font-size-xl);
  line-height: 150%;
}
.tile {
  width: 26.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 26.25rem;
  min-width: calc(33% - 10.13rem)
}
.strengthen {
  margin: 0;
}
.chapeu21,
.p51 {
  position: relative;
}
.chapeu21 {
  width: 100%;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
  max-width: 18.63rem;
}
.p51 {
  align-self: stretch;
  font-size: var(--font-size-xl);
  line-height: 150%;
}
.tile1 {
  width: 26.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  min-width: 26.25rem;
}
.chapeu22,
.p52 {
  position: relative;
}
.chapeu22 {
  width: 100%;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
  max-width: 12.25rem;
}
.p52 {
  align-self: stretch;
  font-size: var(--font-size-xl);
  line-height: 150%;
}
.tile2 {
  width: 26.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-13xl);
  max-width: 26.25rem;
  width: auto;
}
.content,
.content1,
.section,
.tile2 {
  display: flex;
  justify-content: flex-start;
}
.content1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-143xl);
  color: var(--black-text);
  font-family: var(--font-plus-jakarta-sans);
}
.content,
.section {
  flex-direction: column;
}
.content {
  width: 100%;
  align-items: flex-start;
  gap: var(--gap-110xl);
  max-width: 99rem;
}
.section {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-38xl) var(--padding-149xl) var(--padding-201xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--grey-prime);
  font-family: var(--font-lora);
}
@media screen and (max-width: 1920px) {
  .chapeu1{
    font-size: 24px;
  }
  .content{
    gap: var(--gap-62xl);
    width: 85%;
  }
  .content1{
    justify-content: space-between;
  }
  .tile {
    min-width: 25%;
    max-width: 30%;
    gap: 0;
  }
  .tile1 {
    max-width: 26.25rem;
  }
  .tile1,
  .tile2 {
    min-width: 33%;
  }
  .content1 {
    flex-direction: row;
    gap: var(--gap-xs);
  }
  .section {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    padding-bottom: var(--padding-139xl);
    box-sizing: border-box;
  }
  .icon {
    width: 5rem;
    height: 5rem;
  }
  .chapeu2, .chapeu21, .chapeu22{
    font-size: var(--font-size-3xl-5);
    margin-top: 32px;
  }
  .p5, .p51, .p52{
   font-size: 12px; 
   margin-top: 16px;    
   max-width: 280px;
  }
}
@media screen and (max-width: 960px) {
  .icon {
    width: 4rem;
    height: 4rem;
  }
  .chapeu2 {
    font-size: var(--font-size-13xl);
    text-align: left;
    min-width: 28.5rem;
    max-width: 14.19rem;
  }
  .p5 {
    font-size: var(--font-size-sm);
    max-width: 28.5rem;
  }
  .tile {
    width: 100%;
    min-width: 100%;
  }
  .chapeu21 {
    font-size: var(--font-size-13xl);
    max-width: 32.94rem;
  }
  .p51 {
    font-size: var(--font-size-sm);
    min-width: 28.5rem;
    max-width: 28.5rem;
  }
  .tile1 {
    min-width: 100%;
  }
  .chapeu22 {
    font-size: var(--font-size-13xl);
    max-width: 39.19rem;
  }
  .p52 {
    font-size: var(--font-size-base);
    min-width: 28.5rem;
    max-width: 28.5rem;
  }
  .tile2 {
    min-width: 100%;
  }
  .content1 {
    flex-direction: column;
    gap: var(--gap-41xl);
    padding-left: 0;
    padding-right: 0;
  }
  .content,
  .content1,
  .section {
    box-sizing: border-box;
  }
  .content {
    gap: var(--gap-41xl);
    padding-left: 0;
    padding-right: 0;
  }
  .section {
    padding-bottom: var(--padding-138xl);
  }
}
@media screen and (max-width: 575.98px) {
  .chapeu1{
    font-size: 36px;
  }
  .icon {
    width: 3rem;
    height: 3rem;
  }
  .chapeu2 {
    font-size: var(--font-size-13xl);
    width: 100%;
    max-width: 7.94rem;
    min-width: inherit;
  }
  .p5 {
    font-size: var(--font-size-base);
    max-width: 21.44rem;
  }
  .tile {
    width: 100%;
    gap: var(--gap-5xl);
    max-width: 26.25rem;
  }
  .chapeu21 {
    font-size: var(--font-size-13xl);
  }
  .p51 {
    font-size: var(--font-size-base);
    max-width: 21.44rem;
    min-width: inherit;
  }
  .tile1 {
    align-self: stretch;
    width: auto;
    gap: var(--gap-5xl);
    max-width: 26.25rem;
  }
  .chapeu22 {
    font-size: var(--font-size-13xl);
    min-width: inherit;
  }
  .p52 {
    font-size: var(--font-size-base);
    max-width: 21.44rem;
    min-width: inherit;
  }
  .tile2 {
    gap: var(--gap-5xl);
    max-width: 26.25rem;
  }
  .content1 {
    gap: var(--gap-62xl);
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .content {
    width: 100%;
    gap: var(--gap-41xl);
  }
  .section {
    padding-bottom: var(--padding-157xl);
    box-sizing: border-box;
  }
}
