.leftIcon {
  border-radius: var(--br-5xl);
  max-width: 53.25rem;
  overflow: hidden;
  max-height: 53.25rem;
  object-fit: cover;
}
.serenaScreening {
  font-weight: 600;
  font-family: var(--font-lora);
}
.withSerenaScreeningContainer {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 140%;
}
.startYourFree {
  position: relative;
  letter-spacing: 0.14em;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 600;
}
.button {
  width: 100%;
  border-radius: var(--br-xs);
  color: var(--white-prime);
  background-color: var(--purple-prime);
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) 1.87rem;
  box-sizing: border-box;
  max-width: 25.88rem;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-base);
}
.description,
.right {
  flex-direction: column;
}
.description {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-77xl);
}
.right {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-73xl);
}
.content,
.right,
.section {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.content {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-137xl);
}
.section {
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-142xl) var(--padding-52xl);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--grey-prime);
  font-family: var(--font-plus-jakarta-sans);
}
@media screen and (max-width: 1440px) {
  .leftIcon {
    width: 100%;
    height: 100%;
    min-width: 28.13rem;
    min-height: 28.13rem;
    max-width: 50%;
  }
  .withSerenaScreeningContainer {
    font-size: var(--font-size-5xl);
  }
  .content {
    gap: var(--gap-5xl);
  }
  .section {
    gap: var(--gap-62xl);
    padding-left: 0;
    padding-top: var(--padding-35xl);
    padding-right: var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .section {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: var(--padding-127xl);
    box-sizing: border-box;
  }
  .content {
    align-items: flex-end;
    justify-content: space-between;
    gap:var(--gap-base)
  }
  .leftIcon {
    max-width: 371px;
    min-width: 371px;
    max-height: 53.25rem;
  }
  .withSerenaScreeningContainer {
    font-size: var(--font-size-5xl);
  }
  .startYourFree {
    font-size: var(--font-size-sm);
  }
  .button {
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    padding: var(--padding-mini) var(--padding-lg);
    box-sizing: border-box;
    max-width: 16.13rem;
  }
  .description {
    gap: var(--gap-15xl);
    align-items: center;
  }
  .right {
    justify-content: flex-start;
    padding-right: 28px;
  }
  .right {
    align-items: flex-start;
    padding-top: var(--padding-27xl);
    padding-bottom: 0;
    box-sizing: border-box;
    max-width: 20.63rem;
  }
}
@media screen and (max-width: 575.98px) {
  .button,
  .leftIcon {
    box-sizing: border-box;
  }
  .leftIcon {
    min-width: 100%;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .button {
    height: 58px;
    min-width: 100%;
  }
  .description {
    gap: var(--gap-29xl);
  }
  .right {
    flex: 1;
    gap: var(--gap-3xs);
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    min-width: 100%;
  }
  .content,
  .right,
  .section {
    box-sizing: border-box;
  }
  .content {
    align-self: stretch;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-29xl);
    padding-left: 0;
    padding-right: 0;
  }
  .section {
    padding: var(--padding-27xl) 0 var(--padding-120xl);
  }
}
