.percent,
.ofPatientsWith {
  width: 7.25rem;
  position: relative;
  line-height: 140%;
  display: inline-block;
  mix-blend-mode: normal;
}
.ofPatientsWith {
  width: 9.75rem;
  font-size: var(--font-size-sm);
  color: var(--grey-prime);
  mix-blend-mode: multiply;
}
.parent,
.waveInner {
  display: flex;
  flex-direction: column;
}
.parent {
  width: 9.75rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  /* gap: var(--gap-5xl); */
}
.parentScale{
  flex-direction: row;
}
.waveInner {
  position: absolute;
  bottom: 15px;
  left: 15px;
  border-radius: var(--br-5xs);
  background-color: var(--grey-25);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border: 2px solid var(--salmon-prime);
  box-sizing: border-box;
  width: 12.13rem;
  height: 7.81rem;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  mix-blend-mode: normal;
  opacity: 0;
  transition: opacity .5s linear;
}
.waveInnerScale{
  background-color: var(--grey-25) !important;
  border: 2px solid var(--green-link) !important;
}
.waveItem {
  position: relative;
  height: 7px;
  width: 7px;
  top: .75rem;
  /* right: 0; */
  /* bottom: 0; */
  left: .75rem;
  border-radius: 50%;
  background-color: var(--salmon-prime);
  transform: rotate(180deg);
  opacity: 0;
  transform-origin: 0 0;
}
.waveItemScale{
  background-color: var(--green-link) !important;
}
.waveChildScale{
  border: 2px solid var(--green-link) !important;
}
.waveChild:hover {
  height: 1.3rem !important;
  width: 1.3rem !important;
  transition: opacity .5s linear;
}
.waveChild:hover .waveItem, .waveChild:hover .waveInner{
  opacity: 1;
}
.waveChild1,
.waveChild2,
.waveChild3,
.waveChild4,
.waveChild5,
.waveChild6,
.waveChild7,
.waveChild8,
.waveChild9 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  border: 2px solid var(--green-link);
  box-sizing: border-box;
  cursor: pointer;
  transition: all 1s ease-in-out;
  border: 2px solid var(--salmon-prime);
}
.waveChild1 {
  top: 54.76%;
  right: 77.92%;
  bottom: 43.1%;
  left: 21.56%;
}
.waveChild2 {
  top: 42.57%;
  right: 16.41%;
  bottom: 55.29%;
  left: 83.07%;
}
.waveChild3{
  top: 54.97%;
  right: 24.54%;
  bottom: 42.89%;
  left: 74.94%;
}
.waveChild4{
  top: 44.06%;
  right: 54.95%;
  bottom: 53.8%;
  left: 44.53%;
}
.waveChild5 {
  top: 63.53%;
  right: 46.93%;
  bottom: 34.33%;
  left: 52.55%;
}
.waveChild6 {
  top: 36.15%;
  right: 86.31%;
  bottom: 61.71%;
  left: 13.17%;
}
.waveChild7 {
  top: 75.08%;
  right: 74.12%;
  bottom: 22.78%;
  left: 25.36%;
}
.waveChild8 {
  top: 60.08%;
  right: 74.12%;
  bottom: 22.78%;
  left: 85.36%;
}
.waveChild9 {
  top: 65.08%;
  right: 34.12%;
  bottom: 22.78%;
  left: 45.36%;
}
.wave {
  width: 100%;
  position: relative;
  height: 29.22rem;
  max-width: 120rem;
}
.groupIcon1 {
  position: absolute;
  height: 80.9%;
  width: 100%;
  top: 19.1%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div1,
.ofPatientsWith1 {
  position: absolute;
  width: 74.36%;
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
  mix-blend-mode: normal;
}
.ofPatientsWith1 {
  width: 100%;
  top: 62.96%;
  font-size: var(--font-size-sm);
  color: var(--grey-prime);
  mix-blend-mode: multiply;
}
.group,
.wavetabletInner {
  position: absolute;
  top: 1.5rem;
  left: 1.13rem;
  width: 9.75rem;
  height: 5.06rem;
}
.wavetabletInner {
  top: -0.06rem;
  left: 71.24rem;
  border-radius: var(--br-5xs);
  background-color: var(--grey-25);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border: 2px solid var(--salmon-prime);
  box-sizing: border-box;
  width: 12.13rem;
  height: 7.81rem;
  mix-blend-mode: normal;
}
.wavetabletChild,
.wavetabletChild1,
.wavetabletChild2,
.wavetabletChild3,
.wavetabletItem {
  position: absolute;
  height: 3.42%;
  width: 0.83%;
  top: 33.16%;
  right: 35.16%;
  bottom: 63.42%;
  left: 64.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.wavetabletChild1,
.wavetabletChild2,
.wavetabletChild3,
.wavetabletItem {
  top: 43.42%;
  right: 54.79%;
  bottom: 53.16%;
  left: 44.38%;
}
.wavetabletChild1,
.wavetabletChild2,
.wavetabletChild3 {
  top: 62.89%;
  right: 46.77%;
  bottom: 33.69%;
  left: 52.4%;
}
.wavetabletChild2,
.wavetabletChild3 {
  top: 70.16%;
  right: 56.15%;
  bottom: 26.42%;
  left: 43.02%;
}
.wavetabletChild3 {
  top: 54.33%;
  right: 24.38%;
  bottom: 42.25%;
  left: 74.79%;
}
.wavetablet {
  width: 120rem;
  position: relative;
  height: 29.22rem;
  display: none;
}
.groupIcon2 {
  position: absolute;
  height: 78.23%;
  width: 100%;
  top: 21.77%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild {
  position: absolute;
  height: 11.12%;
  width: 9.91%;
  top: 89.7%;
  right: 45.1%;
  bottom: -0.83%;
  left: 44.99%;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  border: 1.5px solid var(--salmon-prime);
  box-sizing: border-box;
}
.div2,
.groupItem,
.ofPatientsWith2 {
  position: absolute;
  mix-blend-mode: normal;
}
.groupItem {
  top: -0.03rem;
  left: -0.03rem;
  border-radius: 3.95px;
  background-color: var(--grey-25);
  backdrop-filter: blur(1.98px);
  border: 1px solid var(--salmon-prime);
  box-sizing: border-box;
  width: 5.99rem;
  height: 3.86rem;
}
.div2,
.ofPatientsWith2 {
  width: 74.32%;
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
}
.ofPatientsWith2 {
  width: 100%;
  top: 62.69%;
  font-size: var(--font-size-6xs-9);
  color: var(--grey-prime);
  mix-blend-mode: multiply;
}
.container {
  position: absolute;
  height: 66.12%;
  width: 81.24%;
  top: 19.57%;
  right: 9.38%;
  bottom: 14.31%;
  left: 9.38%;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 5.9px 9.88px rgba(0, 0, 0, 0.25);
  width: 5.93rem;
  height: 3.8rem;
}
.groupInner {
  position: absolute;
  height: 4.73%;
  width: 4.21%;
  top: 98.02%;
  right: 43.73%;
  bottom: 2.25%;
  left: 52.05%;
  border-radius: 50%;
  background-color: var(--salmon-prime);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.ellipseParent {
  position: absolute;
  height: 35.37%;
  width: 24.52%;
  top: 0;
  right: 21.99%;
  bottom: 64.63%;
  left: 53.49%;
}
.wavemobileChild,
.wavemobileChild1,
.wavemobileInner,
.wavemobileItem {
  position: absolute;
  height: 3.31%;
  width: 2.04%;
  top: 49.81%;
  right: 74.44%;
  bottom: 46.88%;
  left: 23.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.wavemobileChild1,
.wavemobileInner,
.wavemobileItem {
  top: 71.58%;
  right: 11.14%;
  bottom: 25.12%;
  left: 86.82%;
}
.wavemobileChild1,
.wavemobileInner {
  top: 57.76%;
  right: 54.29%;
  bottom: 38.93%;
  left: 43.67%;
}
.wavemobileChild1 {
  top: 69.9%;
  right: 75.48%;
  bottom: 26.79%;
  left: 22.48%;
}
.wavemobile {
  width: 24.19rem;
  position: relative;
  height: 14.93rem;
  display: none;
  font-size: var(--font-size-mid-8);
}
.sectionwave {
  align-self: stretch;
  height: 29.22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--salmon-prime);
  font-family: var(--font-plus-jakarta-sans);
}

.sectionwave>div {
  width: 100%;
  max-width: 100%;
}
@media screen and (max-width: 1200px) {
  .wave {
    /* display: none; */
  }
  .wavetablet {
    display: flex;
  }
}
@media screen and (max-width: 960px) {
  .wave {
    /* display: none; */
  }
  .wavetablet {
    display: flex;
  }
}
@media screen and (max-width: 420px) {
  /* .wave, */
  .wavetablet {
    display: none;
  }
  .wavemobile {
    display: flex;
    align-self: stretch;
    width: auto;
  }
  .sectionwave {
    height: 14.88rem;
    gap: var(--gap-0);
    align-items: flex-start;
    justify-content: center;
  }
}
