.h6,
.p6 {
  position: relative;
  line-height: 110%;
  mix-blend-mode: multiply;
}
.p6 {
  width: 5.75rem;
  letter-spacing: 0.1em;
  line-height: 100%;
  display: flex;
  align-items: center;
}
.lostAccessTo {
  margin: 0;
}
.p2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-29xl);
  line-height: 110%;
  font-weight: 500;
  display: inline-block;
  min-width: 30.19rem;
  min-height: 9.56rem;
}
.article {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--grey-25);
  box-shadow: 0 24px 40px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  border: 2px solid var(--grey-prime);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-17xl) var(--padding-23xl);
  gap: var(--gap-29xl);
  cursor: pointer;
}
.p21,
.p61 {
  position: relative;
}
.p61 {
  letter-spacing: 0.1em;
  line-height: 100%;
  mix-blend-mode: multiply;
}
.p21 {
  width: 30.19rem;
  font-size: var(--font-size-29xl);
  line-height: 110%;
  font-weight: 500;
  display: inline-block;
  height: 9.56rem;
  flex-shrink: 0;
}
.article1,
.articles {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.article1 {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--grey-25);
  backdrop-filter: blur(50px);
  border: 2px solid var(--grey-prime);
  flex-direction: column;
  padding: var(--padding-17xl) var(--padding-23xl);
  gap: var(--gap-29xl);
  cursor: pointer;
}
.articles {
  align-self: stretch;
  overflow-x: auto;
  flex-direction: row;
  gap: var(--gap-6xl);
  font-size: var(--font-size-base);
  color: var(--grey-prime);
}
.iconcircleselected {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.75rem;
  height: 0.75rem;
}
.buttoncircle {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 0.75rem;
  position: relative;
  height: 0.75rem;
}
.selection {
  width: 5.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.iconleftarrowChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.25rem;
  height: 2.25rem;
}
.iconleftarrowItem {
  position: absolute;
  top: 0.75rem;
  left: 0.88rem;
  width: 0.38rem;
  height: 0.75rem;
  object-fit: contain;
}
.iconleftarrow {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 2.25rem;
  position: relative;
  height: 2.25rem;
}
.iconrightarrowChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid var(--grey-prime);
  box-sizing: border-box;
  width: 2.25rem;
  height: 2.25rem;
}
.iconrightarrowItem {
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  width: 0.38rem;
  height: 0.75rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.footer,
.otherArticles {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.otherArticles {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-41xl);
}
.cantFindWhat {
  width: 37rem;
  position: relative;
  line-height: 110%;
  display: inline-block;
  height: 1.68rem;
  flex-shrink: 0;
  mix-blend-mode: multiply;
}
.getInContact {
  position: relative;
  letter-spacing: 0.14em;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 600;
}
.button,
.section {
  display: flex;
  align-items: center;
}
.button {
  border-radius: var(--br-xs);
  background-color: var(--grey-prime);
  border: 2px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 3.5rem;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-2xl) var(--padding-35xl);
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.section {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-370xl) var(--padding-221xl);
  gap: var(--gap-141xl);
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-plus-jakarta-sans);
}
@media screen and (max-width: 1279px) {
  .section {
    padding-left: var(--padding-77xl);
    padding-right: var(--padding-77xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .buttons {
    display: none;
  }
}
@media screen and (max-width: 575.98px) {
  .otherArticles {
    gap: var(--gap-17xl);
  }
  .article,
  .p2 {
    align-self: stretch;
  }
  .p2 {
    font-size: var(--font-size-5xl);
    width: auto;
    flex: 1;
    min-width: initial;
    min-height: initial;
  }
  .article {
    height: auto;
    height: 166px;
    width: 364px;
  }
  .article1 {
    display: none;
  }
  .footer {
    align-items: flex-end;
    justify-content: center;
  }
  .button,
  .section {
    box-sizing: border-box;
  }
  .button {
    display: flex;
    align-self: stretch;
    width: auto;
    flex-direction: row;
    gap: var(--gap-0);
    align-items: center;
    justify-content: center;
    padding-left: var(--padding-60xl);
    padding-right: var(--padding-60xl);
  }
  .section {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    padding-bottom: var(--padding-117xl);
    gap: var(--gap-127xl);
  }
  .lostAccessTo{
    width: 364px;
  }
}
