.content * {
  box-sizing: border-box;
}
.pilars{
  /* transform-style: preserve-3d;
  scroll-snap-align: start; */
}
.initHidden{
  /* opacity: 0; */
  transition: opacity .5s linear;
}
.showHidden{
  opacity: 1;
}
.boxPilar{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  transition:all 1s linear;
}
.diet {
  gap: var(--gap-3xs);
  font-family: var(--font-lora);
}
.social {
  gap: var(--gap-lgi);
}
.controltoxic {
  gap: var(--gap-lg);
  font-size: var(--font-size-5xl-1);
}
.sleepquality {
  /* filter: blur(25.51px); */
  gap: var(--gap-3xs);
  font-size: var(--font-size-3xl-5);
}
.stressmanagement {
  filter: blur(3.85px);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-4xl-6);
}
.physicalactivities {
  gap: var(--gap-6xl);
}
.position0{
  top: 37.35rem !important;
  left: calc(50% - 75px) !important;
  transition:all 1s linear;
  filter: none !important;
}
.position1{
  top: 28.64rem;
  left: calc(90% - 75.5px);
  filter: blur(3.85px);
}
.position2{
  top: 10.86rem;
  left: calc(90% - 75.5px);
  filter: blur(3.85px);
  transition:all 1s linear;
}
.position3{
  top: 0;
  left: calc(50% - 75px) !important;
  filter: blur(3.85px);
  transition:all 1s linear;
}
.position4{
  top: 9.01rem;
  left: 0.78rem;
  filter: blur(3.85px);
  transition:all 1s linear;
}
.position5{
  top: 28.64rem;
  left: 0;
  filter: blur(3.85px);
  transition:all 1s linear;
}
.boxPilar{
  min-width: 210px;
  min-height: 192px;
}
.understand {
  font-weight: 300;
}
.act,
.i {
  font-weight: 600;
  font-family: var(--font-lora);
}
.i {
  font-weight: 700;
}
.understandAct {
  margin: 0;
}
.understandActTitle {
  margin-bottom: 16px;
}
.prevent {
  margin: 0;
  font-weight: 300;
}
.p1 {
  width: 75.14%;
  position: absolute;
  margin: 0 !important;
  height: 31.3%;
  top: 24.94%;
  left: 16.78%;
  letter-spacing: -0.02em;
  line-height: 100%;
  mix-blend-mode: multiply;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 999;
  
}
.blur {
  width: 10.75rem;
  /* filter: blur(16.03px); */
  height: 8.19rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.manejoDoEstresse {
  width: 10.78rem;
  position: relative;
  line-height: 130%;
  font-weight: 500;
  display: inline-block;
  height: 4.23rem;
  flex-shrink: 0;
}
.icondiet {
  width: 7.67rem;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
.iconsocialconnections {
  position: relative;
  flex-shrink: 0;
  width: 10.02rem;
  overflow: hidden;
  object-fit: cover;
}
.iconcontroltoxic {
  width: 4.76rem;
  position: relative;
}
.iconsleepquality {
  width: 6.08rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.iconstressmanagement {
  width: 6.08rem;
  position: relative;
  object-fit: cover;
}
.iconphysicalactivities {
  width: 9.32rem;
  position: relative;
  object-fit: cover;
}
.blur1,
.p4 {
  width: 9.5rem;
}
.blur1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
}
.position0 .p4 {
  display: flex;
  position: relative;
  line-height: 120%;
  height: 4.06rem;
  flex-shrink: 0;
  font-family: Lora;
  font-size: var(--font-size-35xl-1);
  font-weight: 600;
  text-align: center;
  justify-content: center;
}
.position0 img{
  /* transform: scale(1.2); */
}
.blur2 {
  width: 13.13rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-12xs);
  box-sizing: border-box;
  flex-shrink: 0;
}
.blur3 {
  width: 9.31rem;
  height: 5.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pilares {
  height: 51.98rem;
  width: 46.41rem;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-9xl-3);
  color: var(--green-prime);
}
.carousel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  gap: var(--gap-3xs);
  min-height: 100vh;
  z-index: 200;
}
.pilarContainer {
  width: 100%;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  mix-blend-mode: multiply;
  padding: 0 var(--padding-base);
}
.box {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  /* max-width: 100% !important; */
  flex-direction: column;
  justify-content: center;
  /* padding: 0 0 var(--padding-93xl); */
  box-sizing: border-box;
  /* gap: var(--gap-xs); */
  font-size: var(--font-size-5xl);
}
.box,
.content,
.sectioncarousel {
  display: flex;
  align-items: center;
}
.content {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 88.25rem;
}
.sectioncarousel {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-95xl) 0 var(--padding-357xl);
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--grey-prime);
  font-family: var(--font-plus-jakarta-sans);
}
.p4{
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: Lora;
  font-style: italic !important;
}
@media screen and (max-width: 1920px) {
  .carousel{
    max-width: 59%;
  }
  .box,
  .content {
    align-items: center;
  }
  .box {
    width: auto;
    align-self: flex-end;
    justify-content: center;
    /* height: 52.28rem;
    justify-content: flex-end; */
    max-width: 22.5rem;
  }
  .content {
    /* flex-direction: column; */
    gap: 0;
    align-items: flex-start;

    justify-content: flex-start !important;
    margin: 0 auto;
    width: initial;
  }
  .pilarContainer{
    max-width: 380px !important;
  }
  .p1{
    top: calc(40vh - 105px);
    margin: 0 auto;
    width: 100%;
    left: initial;
    align-items: center;
    justify-content: center;
  }
  span.understandAct{
    font-size: 62px;
    line-height: 95%;
  }
  .understandAct{
    font-size: 16px;    
    line-height: 32px;
  }
  .pilares{
    width: 50vw;
    max-width: 6742.55px;
    max-height: 842.96px;
    height: auto;
  }
  .position0 .p4{
    font-size: 2.5rem !important;
    height: inherit;
  }
  .p4{
    height: inherit;
  }
  .pilars{
    max-width: 50%;
    /* padding-top: 120px; */
    /* margin-bottom: 120px; */
  }
  .position0 .icondiet {
    width: 6.25rem;
  }
  .position0 .iconsocialconnections {
    width: 10.02rem;
  }
  .position0 .iconcontroltoxic {
    width: 4.76rem;
  }
  .position0 .iconsleepquality {
    width: 6.08rem;
  }
  .position0 .iconstressmanagement {
    width: 6.08rem;
  }
  .position0 .iconphysicalactivities {
    width: 9.32rem;
  }
  .position0 .iconphysicalactivities{
    width: 7.32rem;
  }
  .icondiet {
    width: 6.25rem;
  }
  .iconsocialconnections {
    width: 6.02rem;
  }
  .iconcontroltoxic {
    width: 3.76rem;
  }
  .iconsleepquality {
    width: 4.08rem;
  }
  .iconstressmanagement {
    width: 4.08rem;
  }
  .iconphysicalactivities {
    width: 7.32rem;
  }
  .iconphysicalactivities{
    width: 5.32rem;
  }

  .position0{
    top: calc(40vh + 170px) !important;
    left: calc(50% - 100px) !important;
  }
  .position1{
    top: calc(40vh + 45px);
    left: calc(77% - 60px);
  }
  .position3{
    top: calc(40vh - 285px);
    left: calc(50% - 100px) !important;
  }
  .position2{
    top: calc(40vh - 145px);
    left: calc(77% - 60px);
  }
  .position4{
    top: calc(40vh - 145px);
    left: 0;
  }
  .position5{
    top: calc(40vh + 45px);
    left: 0;
    gap: var(--gap-0);
  }
} 
@media (max-height: 670px){
  .sectioncarousel{
    padding-bottom: 15rem;
  }
}
@media (max-height: 670px) or (961px > width < 1024px) {
  .p1{ 
    top: calc(50vh - 155px);
  }
  .position0{
    top: calc(40vh + 90px) !important;
  }
  .position1{
    top: calc(40vh + 45px);
  }
  .position3{
    top: calc(40vh - 285px);
  }
  .position2{
    top: calc(40vh - 145px);
  }
  .position4{
    top: calc(40vh - 145px);
  }
  .position5{
    top: calc(40vh + 45px);
  }
  .position3{
    /* top: calc(50vh - 285px) !important; */
  }
  .position4, .position2{
    top: 10vh  !important
  }
  .position0 .p4{
    font-size: 1.5rem !important;
    height: inherit;
  }
  .pilarContainerIntro {
    margin-top: 0 !important;
  }
}

@media screen {
  .box{
    max-width: 29.5rem;
  }
}

@media screen and (max-width: 1024px),
only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape){
  .p1{
    top: calc(5vh + 135px) !important;
    left: 50%;
    max-width: 100vw;
    transform: translate(-50%, -50%);
    width: initial;
  }
  .carousel{
    max-width: inherit;
    width: 100%;
  }
  .carousel{
    /* top: -35vh; */
  }
  .content {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-81xl);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
  }
  .box{
    justify-content: flex-end;
    padding-bottom: 10vh;
    /* height: 28rem; */
  }
  .pilares{
    width: 100%;
  }
  .pilars{
    margin-bottom: 0;
    padding-bottom: 0;
    max-width: initial;
  }
  .pilarContainer{
    width: 100%;
  }
  
  .position0{
    top: 35vh !important;
    left: calc(50% - 105px) !important;
  }
  .position1{
    top: 17vh;
    left: 60%;
  }
  .position3{
    top: -10vh;
    left: calc(50% - 105px) !important;
  }
  .position2{
    top: 0;
    left: 60%;
  }
  .position4{
    top: 0;
    left: 0;
  }
  .position5{
    top: 17vh;
    left: 0;
    gap: var(--gap-0);
  }
  .sectioncarousel{
    padding-bottom: 0;
  }
  .pilarContainerIntro {
    margin-top: -100vh;
  }
}
@media screen and (max-width: 1024px) and (orientation : portrait){
  .p1{
    top: calc(15vh + 135px) !important;
    left: 50%;
    max-width: 100vw;
    transform: translate(-50%, -50%);
    width: initial;
  }
  
  .position0{
    top: 40vh !important;
    left: calc(50% - 105px) !important;
  }
  .position1{
    top: 27vh;
    left: 60%;
  }
  .position3{
    top: 0;
    left: calc(50% - 105px) !important;
  }
  .position2{
    top: 10vh;
    left: 60%;
  }
  .position4{
    top: 10vh;
    left: 0;
  }
  .position5{
    top: 27vh;
    left: 0;
    gap: var(--gap-0);
  }
}
@media screen and (max-width: 1024px) and (orientation : landscape){
  .p1{
    top: calc(15% + 135px) !important;
  }
  .position1{
    top: 0  !important;
  }
  .position4, .position2{
    top: 10vh  !important;
  }
  .position5, .position1{
    top: 35vh !important;
  }
  .position3{
    left: calc(50% - 105px) !important;
  }
  .position0{
    top: 50vh !important;
    left: calc(50% - 105px) !important;
  }
  /* .p1{ 
    top: calc(50vh + 155px);
  }
  .position0{
    top: calc(50vh + 90px) !important;
  }
  .position3{
    top: calc(50vh - 285px) !important;
  }
  .position4, .position2{
    top: 15vh  !important;
  }
  .position1, .position5{
    top: 35vh  !important;
    left: 60%;
  }
  .position0{
    top: 40vh !important;
  }
  .position0 .p4{
    height: inherit;
  }*/
} 
@media screen and (max-width: 575.98px) {
  .p1 {
    top: 135px !important;
    font-size: var(--font-size-39xl);
    text-align: left;
    padding-left: 21px;
    padding-right: 18px;
    /*
    max-width: 21rem;
    left: 29% ; */
  }
  .blur {
    max-width: 6.94rem;
  }
  .manejoDoEstresse {
    font-size: var(--font-size-16xl);
  }
  .blur1 {
    max-width: 6.94rem;
  }
  .p4 {
    font-size: var(--font-size-16xl);
  }
  .blur2 {
    max-width: 6.94rem;
  }
  .iconsocialconnections {
    max-width: 6.94rem;
  }
  .icondiet {
    /* max-width: 6.94rem; */
    width: 100px;
    height: 122px;
  }

  .position0, .position3{
    left: calc(50% - 105px) !important;
  }
  
  .position1, .position5{
    top: 25vh !important;
  }

  .position1, .position2{
    left: 70% !important;
  }
  
  .position4, .position5{
    left: -20% !important;
  }
  
  .position0{
    top: 30vh !important;
    left: calc(50% - 105px) !important;
  }
  .position3{
    top: -15vh;
    left: calc(50% - 105px) !important;
  }
  .position2{
    top: -5vh;
    left: 60%;
  }
  .position4{
    top: -5vh;
    left: 0;
  }
  .position5{
    top: 27vh;
    left: 0;
    gap: var(--gap-0);
  }
  .blur3 {
    max-width: 6.94rem;
  }
  .pilares {
    max-width: 100%;
    height: 100vh;
  }
  .pilarContainer {
    font-size: var(--font-size-base);
    flex: 1;
    max-width: 21.44rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
  }
  .box {
    height: 100vh;
    gap: var(--gap-5xl);
    /* padding-bottom: var(--padding-108xl); */
    box-sizing: border-box;
    max-width: 21.44rem;
    padding-bottom: 15vh;
  }
  .content {
    flex-direction: column;
    gap: var(--gap-29xl);
    align-items: center;
    justify-content: center;
  }
  .sectioncarousel {
    padding-top: 0;
    box-sizing: border-box;
    /* padding-bottom: 12rem; */
  }
  .pilars{
    margin-bottom: 0;
    padding-bottom: 0rem;
  }
  .pilarContainerIntro {
    margin-top: -100vh;
  }
}
@media screen and (max-height: 670px) {
  .box:first-child{
    padding-bottom: 0;
  }
  .box{
    padding-bottom: 10vh;
  }
  .understandActTitle{
    margin-bottom: 8px;
  }
  .pilarContainerIntro {
    margin-top: -100vh;
  }
}