.imageaboutushowIcon {
  width: 44.13rem;
  position: relative;
  border-radius: var(--br-5xl);
  height: 55.63rem;
  object-fit: cover;
  max-width: 50% !important;
}
.chapeu2 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 700;
  font-family: var(--font-lora);
  mix-blend-mode: normal;
}
.weAreDesigning {
  letter-spacing: -0.02em;
  font-weight: 300;
}
.better,
.i {
  font-family: var(--font-lora);
}
.better {
  letter-spacing: -0.01em;
  font-weight: 600;
}
.i {
  font-weight: 500;
}
.healthcare1 {
  font-weight: 300;
}
.healthcare {
  letter-spacing: -0.02em;
}
.h1,
.p3 {
  width: 100%;
  position: relative;
  font-size: var(--font-size-45xl);
  line-height: 120%;
  display: inline-block;
  mix-blend-mode: multiply;
  max-width: 33.44rem;
}
.p3 {
  font-size: var(--font-size-5xl);
  line-height: 150%;
  mix-blend-mode: normal;
  max-width: 31.94rem;
}
.description {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-29xl);
}
.content,
.section {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.content {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-154xl);
}
.section {
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-234xl) var(--padding-261xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--grey-prime);
  font-family: var(--font-plus-jakarta-sans);
}
@media screen and (max-width: 1440px) {
  .imageaboutushowIcon {
    align-self: stretch;
    height: auto;
    max-width: 35%;
    max-height: calc(100vh - 68px);
  }
  .chapeu2 {
    font-size: var(--font-size-5xl);
  }
  .h1 {
    font-size: var(--font-size-17xl);
  }
  .p3 {
    font-size: var(--font-size-base);
  }
  .description {
    max-width: 34%;
    gap: 18px;
  }
  .content {
    flex-direction: row;
    gap: var(--gap-56xl);
  }
  .section {
    padding-left: var(--padding-93xl);
    padding-right: var(--padding-93xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .imageaboutushowIcon {
    width: 23.88rem;
  }
  .content {
    flex-direction: row;
    gap: var(--gap-base);
    align-items: center;
    justify-content: space-between;
  }
  .section {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    padding-bottom: var(--padding-88xl);
    box-sizing: border-box;
  }
  .description{
    max-width: initial;
  }
}
@media screen and (max-width: 575.98px) {
  .imageaboutushowIcon {
    width: 21.44rem;
    height: 21.44rem;
    min-width: 100%;
    max-width: initial;
  }
  .chapeu2 {
    font-size: var(--font-size-lgi);
  }
  .h1 {
    font-size: var(--font-size-17xl);
  }
  .p3 {
    font-size: var(--font-size-base);
  }
  .description {
    gap: var(--gap-13xl);
    flex: unset;
    align-self: stretch;
  }
  .content {
    flex-direction: column;
    gap: var(--gap-13xl);
  }
  .section {
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    padding-bottom: var(--padding-140xl);
    box-sizing: border-box;
  }
}
