.basic {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 100%;
  mix-blend-mode: multiply;
}
.mo1 {
  font-size: var(--font-size-xl);
}
.mo {
  position: relative;
  line-height: 100%;
  mix-blend-mode: multiply;
  font-size: var(--font-size-53xl);
}
.price {
  align-self: stretch;
  border-radius: var(--br-5xl) var(--br-5xl) 0 0;
  background-color: var(--grey-25);
  border: 4px solid var(--white-prime);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-29xl) var(--padding-27xl);
  gap: var(--gap-29xl);
}
.serenaScreenings {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.div,
.serenaScreeningsMonth {
  width: 24.56rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div {
  width: 3.13rem;
  align-items: flex-end;
  text-align: right;
}
.item,
.topic1Child {
  align-self: stretch;
  overflow: hidden;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.topic1Child {
  position: relative;
  max-width: 100%;
  height: 0.13rem;
  flex-shrink: 0;
  object-fit: contain;
}
.topic1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.iconCheck {
  width: 1.5rem;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.list,
.topics {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.topics {
  gap: var(--gap-5xl);
}
.list {
  padding: var(--padding-7xl) var(--padding-15xl);
  font-size: var(--font-size-xl);
  color: var(--black-text);
}
.ctaText {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.14em;
  line-height: 130%;
  text-transform: uppercase;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--grey-prime);
  text-align: center;
}
.buttoprimary,
.footer {
  align-self: stretch;
  flex-direction: column;
  box-sizing: border-box;
}
.buttoprimary {
  cursor: pointer;
  border: 1px solid var(--grey-prime);
  padding: 0;
  background-color: var(--color-whitesmoke-200);
  border-radius: var(--br-xs);
  height: 3.56rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  height: 6.31rem;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
}
.card,
.footer,
.vip {
  display: flex;
  align-items: center;
}
.card {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--grey-25);
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 35rem;
}
.vip {
  width: 7.94rem;
  position: relative;
  letter-spacing: 0.1em;
  line-height: 100%;
  mix-blend-mode: multiply;
}
.price2 {
  align-self: stretch;
  border-radius: var(--br-5xl) var(--br-5xl) 0 0;
  background-color: var(--color-darkturquoise-100);
  border: 4px solid var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-29xl) var(--padding-27xl);
  gap: var(--gap-29xl);
}
.ctaText2 {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.14em;
  line-height: 130%;
  text-transform: uppercase;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--white-prime);
  text-align: center;
}
.buttonprimary,
.card2,
.footer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonprimary {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--green-link);
  align-self: stretch;
  border-radius: var(--br-xs);
  height: 3.5rem;
  justify-content: center;
}
.card2,
.footer2 {
  justify-content: flex-start;
}
.footer2 {
  align-self: stretch;
  border-radius: 0 0 var(--br-5xl) var(--br-5xl);
  height: 6.31rem;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.card2 {
  width: 35rem;
  border-radius: var(--br-5xl);
  background-color: var(--grey-25);
  flex-shrink: 0;
  gap: var(--gap-3xs);
  max-width: 35rem;
}
.cards {
  align-self: stretch;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.iconSelectedElipse {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.75rem;
  height: 0.75rem;
}
.circlebutton,
.circlebutton1,
.circlebutton2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 0.75rem;
  height: 0.75rem;
}
.circlebutton {
  left: 0;
}
.circlebutton1,
.circlebutton2 {
  left: 2.25rem;
}
.circlebutton2 {
  left: 4.5rem;
}
.counter {
  width: 5.25rem;
  position: relative;
  height: 0.75rem;
  display: none;
}
.section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-77xl) var(--padding-341xl);
  gap: var(--gap-17xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--grey-prime);
  font-family: var(--font-plus-jakarta-sans);
}
@media screen and (max-width: 960px) {
  .list {
    align-self: stretch;
    width: auto;
  }
  .card,
  .card2 {
    max-width: 32%;
  }
  .cards {
    gap: var(--gap-xs);
    align-items: center;
    justify-content: flex-start;
  }
  .section {
    gap: var(--gap-5xs);
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    padding-bottom: var(--padding-125xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .card,
  .card2 {
    max-width: 560%;
  }
  .counter {
    display: flex;
  }
}
@media screen and (max-width: 430px) {
  .serenaScreeningsMonth {
    width: auto;
    align-self: unset;
  }
  .list,
  .topics {
    align-self: stretch;
    width: auto;
  }
  .card,
  .card2 {
    min-width: 100%;
    max-width: 100%;
  }
  .cards {
    flex-direction: row;
  }
  .section {
    gap: var(--gap-12xl);
    padding-bottom: var(--padding-97xl);
    box-sizing: border-box;
  }
}
