
.input {
  display: flex;
  justify-content: flex-start;
}

.input {
  flex-direction: row;
}

.input {
  border: 0;
  outline: 0;
  font-family: var(--font-plus-jakarta-sans);
  font-size: var(--font-size-xl);
  background-color: var(--grey-25);
  flex: 1;
  border-radius: var(--br-xs);
  align-items: center;
  padding: var(--padding-5xl) var(--padding-6xl) var(--padding-5xl)
    var(--padding-lg);
  color: var(--low-contrast-gre);
}